<div style="display:flex;padding:50px">
  <mat-card cdkDropList  
      [cdkDropListConnectedTo] ="[selectedquestions]"
      [cdkDropListData]="tquestions"
      (cdkDropListDropped)="drop($event)"
      #templateQuestions="cdkDropList"
  >
    TEMPLATE
    
    <mat-card class="qpanel"  *ngFor="let question of tquestions" 
          cdkDrag
          cdkDragPlaceholder
    >
    
      {{question}}
      <mat-radio-group class="example-radio-group">
        <mat-list-item><mat-radio-button  value="1" class="example-radio-button">Option 1</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button  value="2" class="example-radio-button">Option 2</mat-radio-button></mat-list-item>
      </mat-radio-group>
    </mat-card>
    
  </mat-card>

  <mat-card  class="qselector"
    cdkDropList
    #selectedquestions="cdkDropList"
    [cdkDropListData]="squestions" 
    (cdkDropListDropped)="reorderSelected($event)"
    
  >
    SELECTED
    <mat-card cdkDrag
    *ngFor="let q of squestions"
    class="qselectedpanel"
    >
      {{q}}
      <mat-radio-group class="example-radio-group">
          <mat-list-item><mat-radio-button  value="1" class="example-radio-button">Option 1</mat-radio-button></mat-list-item>
          <mat-list-item><mat-radio-button  value="2" class="example-radio-button">Option 2</mat-radio-button></mat-list-item>
        </mat-radio-group>
    </mat-card>
  </mat-card>

</div>